.bold{
	font-weight: bold;
}
.success{
	color: green;
}
.error{
	color: red;
}
.hide{
	display: none;
}
.clear{
	clear: both;
}
.l{
	float:left;
}
.r{
	float:right;
}
.imgBtn{
	padding:0px;
	width: 25px;
	height: 25px;
}
.imgBtn img{
	padding:0px;
	width: 16px;
	height: 16px;
}
.uppercase{
	text-transform: uppercase;
}