.inputItemBlock{
	padding: 10px;
	border: 1px solid #F2F1F0;
}
.inputItemL{
	float:left;
	width: 10%;
}
.inputItemR{
	float: right;
	width: 85%;
}

.imgBlock{
	height: 120px;
}

.imgBrowse {
	background: gray;
	background-image: url("/ui/css/ico/pic.png");
	background-repeat: no-repeat;
	background-position: center;
    width: 100px;
    height: 100px;
    overflow: hidden;
    cursor: pointer;
	border: solid 1px;
}
.imgBrowse img{

	/*background-position: 8px 8px;*/
	width: 100px;
	height: 100px;
}